body{
    margin: 0;
    background: linear-gradient(to bottom, #cbbbeb, #5049b1);
    /* background-image: url(/asset/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;*/
} 

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.container{
    min-width: 800px;
    min-height: 500px;
    width: 1000px;
    height: 700px;
    padding: 25px 24px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.task-list-container{
    border: 1px solid lightgray;
    margin-top: 1em;
    position: relative;
}

.tab-type{
    display: flex;
    border-bottom: 1px solid lightgray;
}

.tab-type div{
    padding: 1em;
    cursor: pointer;
}

#tab-underline{
    position: absolute;
    width: 60px;
    height: 5px;
    padding: 0;
    left: 0px;
    top: 52px;
    background-color: rgb(93, 65, 192);
    transition: 0.5s;
}

#task-input{
    width: 300px;
    border: none;
    border-bottom: 1px solid black;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.left-side{
    display: flex;
}

.left-side button{
    margin-right: 44px;
}

.task-done{
    color: rgb(160, 139, 209);
    background-color: lavender;
}